body {
  background-color: cadetblue;
  font-size: 1.2em;
  margin: 0;
  padding: 0;
}

.navbar-container {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: black;
}

nav {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: #111;
}
